# Ejercicios de codificación

## Ejercicio 0: organizar carpetas

In [2]:
import os 
import shutil
# Crear carperta pearson
# Crear carpeta input en pearson
# Crear carpeta output en pearson
# Crear carpeta src en perason
# Mover Pearson.txt a input
# Crear un pearson.ipynb en src
# Abrir en modo append un archivo en output
# Abrir pearson.txt y cambiar nombres columnas

In [4]:
nombres = ['input','output','src']
for n in nombres:
    os.makedirs(f'pearson/{n}',exist_ok = True)

In [5]:
shutil.move('Pearson.txt', 'pearson/input')

'pearson/input\\Pearson.txt'

## Ejercicio 1: Genera los datos ejecutando esta celda
Esto te dará una lista de números con los que trabajar en los ejercicios restantes.

In [12]:
# Usar Pearson.txt
'''mover txt del datafrmae aqui'''

In [6]:
file = open('pearson/output/resultados.txt', 'a')
#si no existe te lo crea

In [7]:
file.write('Esto es una prueba')
#por defecto no pone saltos de linea por lo que hay que ponerlo de manera manual con /n

18

In [8]:
file.close()
#si no cerramos el fichero no se guardan los cambios

In [15]:
import pandas as pd
import numpy as np

pearson = pd.read_csv('pearson/input/Pearson.txt', sep= '\t')

pearson.columns = [x.lower() for x in pearson.columns]
pearson.head(10)

   father   son
0    65.0  59.8
1    63.3  63.2
2    65.0  63.3
3    65.8  62.8
4    61.1  64.3
5    63.0  64.2
6    65.4  64.1
7    64.7  64.0
8    66.1  64.6
9    67.0  64.0

## Ejercicio 2: Cálculo de estadísticas y verificación
### media

In [26]:
pearson.mean()

father    67.686827
son       68.684230
dtype: float64

In [25]:
padres = pearson['father'].values
contador = 0

for p in padres:
    contador += p
media = contador / len(padres)
media

67.68682745825602

In [29]:
hijos = pearson[['son']]

contador2 = 0
for index,h in hijos.iterrows():
    contador2 += h['son']

#index = indice
# h fila con todas sus columnas
# h['son'] es el valor de esa fila para la columna son

media = contador2 / len(hijos)
media

68.68423005565862

### mediana

In [17]:
pearson.median() #cuando la media es muy igual a la mediana, es que no hay mucho sesgo ni a la izquierda ni a la derecha. Si la moda se parece mucho, ya podemos sospechar que la distribucion de los datos es normal

father    67.8
son       68.6
dtype: float64

In [39]:
#calculamos la mediana OLD SCHOOL

pearson.sort_values(by = 'son', inplace = True) # si en el by se ponen varias columnas se ordena por el orden de aparicion (como en excel)
hijos = pearson[['son']].reset_index(drop = True) #drop elimina la columna del indice antiguo

In [40]:
(hijos.iloc[int(len(hijos)/2)]+hijos.iloc[int(len(hijos)/2)-1])/2
#con iloc estoy accediendo a los indices implicitos.
#esta formula hace la media entre el valor del medio y su anterior

son    68.6
dtype: float64

### moda

In [18]:
pearson.mode() #si salen varios valores es que se repiten todos el mismo numero de veces. La moda no tiene porque ser unica

   father   son
0    67.4  68.6
1    67.8   NaN
2    68.3   NaN

In [41]:
pearson[['son']].value_counts()

son
68.6    26
68.1    21
68.2    21
67.2    20
66.3    20
        ..
62.7     1
63.0     1
63.1     1
64.5     1
78.4     1
Name: count, Length: 146, dtype: int64

### varianza de la muestra
Recuerde utilizar la corrección de Bessel.

In [43]:
pearson.var(ddof = 0)

father    7.532572
son       7.923592
dtype: float64

In [44]:
#se eleva al cuadrado para que los valores positivos y negativos no se neteen
#tambien se eleva al cuadrado porque quiero que los que estan muy lejos de la media me afecten (la diferencia es mayor entonces salen varianzas mas altas que indican que la poblacion esta muy dispersa)
#se divide entre N-1 porque la probabilidad de que saquemos uno muy alto o muy pequeño es muy improbable. Para que se tenga en cuenta que estan los outliners que son muy improbables de elegir como individuos. Esto es para la varianza muestral, en la varianza poblacional no hace falta corregir.

pearson.var(ddof = 1) #por defecto es lo que viene por si te has olvidado de hacerlo.

#para una poblacion muy pequeña si se nota la diferencia pero cuando ya hay muchos individuos no merece la pena.

father    7.539566
son       7.930949
dtype: float64

### desviación típica de la muestra
Recuerde utilizar la corrección de Bessel.

In [45]:
pearson.std()

#raiz cuadrada de la varianza

father    2.745827
son       2.816194
dtype: float64

In [47]:
std_mas_1 = pearson['father'].mean() + pearson['father'].std()
std_menos_1 = pearson['father'].mean() - pearson['father'].std()

In [53]:
len(pearson[(pearson["father"]<=std_mas_1) & ((pearson["father"]>=std_menos_1))])/len(pearson)

0.6753246753246753

In [54]:
std_mas_2 = pearson['father'].mean() + (2*(pearson['father'].std()))
std_menos_2 = pearson['father'].mean() - (2*(pearson['father'].std()))
std_mas_3 = pearson['father'].mean() + (3*(pearson['father'].std()))
std_menos_3 = pearson['father'].mean() - (3*(pearson['father'].std()))

In [55]:
len(pearson[(pearson["father"]<=std_mas_2) & ((pearson["father"]>=std_menos_2))])/len(pearson)

0.9628942486085343

In [56]:
len(pearson[(pearson["father"]<=std_mas_3) & ((pearson["father"]>=std_menos_3))])/len(pearson)

#calculamos el peso de la cuenta de la mascara sobre la poblacion total

0.9990723562152134

## Ejercicio 3: Calcular más estadísticas
### rango

In [58]:
rango = pearson.max() - pearson.min()
rango

father    16.4
son       19.9
dtype: float64

### coeficiente de variación
Asegúrese de utilizar la desviación típica de la muestra.

In [61]:
#media entre std

coef_var = pearson.std() / pearson.mean()
coef_var

# para valores bajos significa que mas apretados estan los datos con respecto de la media y viceversa (curva chata)

father    0.040567
son       0.041002
dtype: float64

### rango intercuartílico

In [62]:
pearson.quantile(0.75) - pearson.quantile(0.25)

father    3.8
son       3.6
dtype: float64

In [64]:
pearson.quantile(0.9) #el 90% esta por debajo de 71.30

father    71.30
son       72.23
Name: 0.9, dtype: float64

### coeficiente de dispersión por cuartiles

In [67]:
cdq = (pearson.quantile(0.75)- pearson.quantile(0.25)) / (pearson.quantile(0.75) + pearson.quantile(0.25))
cdq
#valores bajos significa que la muestra no esta muy dispersa

father    0.028065
son       0.026201
dtype: float64

## Ejercicio 4: Escalado de datos
### escalado min-max

In [69]:
#cada valor menos el minimo

pearson_min_max = (pearson - pearson.min()) / (pearson.max() - pearson.min())

pearson_min_max.describe()

            father          son
count  1078.000000  1078.000000
mean      0.529685     0.511770
std       0.167428     0.141517
min       0.000000     0.000000
25%       0.414634     0.422111
50%       0.536585     0.507538
75%       0.646341     0.603015
max       1.000000     1.000000

### normalización

In [70]:
from sklearn import preprocessing
std_scale = preprocessing.StandardScaler().fit(pearson)
pearson_std = std_scale.transform(pearson)

In [71]:
pd.DataFrame(pearson_std).describe()

                  0             1
count  1.078000e+03  1.078000e+03
mean   3.902053e-15 -1.370992e-15
std    1.000464e+00  1.000464e+00
min   -3.165115e+00 -3.617988e+00
25%   -6.874807e-01 -6.338548e-01
50%    4.123532e-02 -2.992306e-02
75%    6.970798e-01  6.450595e-01
max    2.810356e+00  3.451566e+00

## Ejercicio 5: Cálculo de covarianza y correlación
### covarianza

In [72]:
pearson.cov()
#si es positivo cuando uno crece el otro crece

          father       son
father  7.539566  3.875382
son     3.875382  7.930949

### Coeficiente de correlación de Pearson ($\rho$)

In [73]:
pearson.corr()
# una variable consigo misma siempre la correlacion es 1. Si el valor es positivo significa que si uno crece el otro tambien. Valores cercanos al 1 dicen que

          father       son
father  1.000000  0.501163
son     0.501163  1.000000

In [74]:
pearson_min_max.corr()
# con 0.50 de correlacion puedes atinar la altura del hijo con respecto del padre con un rango estimado mayor. Si fuera 0.75 el rango de estimacion seria mas pequeño y tu estimación de la altura del hijo con respecto del padre seria mas precisa

          father       son
father  1.000000  0.501163
son     0.501163  1.000000

In [76]:
pd.DataFrame(pearson_std).corr()

          0         1
0  1.000000  0.501163
1  0.501163  1.000000

In [ ]:
#cualquier transformacion que se le haga al dataframe no va a modificar la correlacion.

In [84]:
# Confort término Gabriela y Jonatan
gab = [10, 9, 10, 8.5, 7, 8, 6.5, 5, 4, 3]
jon = [9, 9, 9, 8, 7.5, 8, 6, 4, 4, 2]

temp_df = pd.DataFrame()
temp_df['gab'] = gab
temp_df['jon'] = jon

temp_df

    gab  jon
0  10.0  9.0
1   9.0  9.0
2  10.0  9.0
3   8.5  8.0
4   7.0  7.5
5   8.0  8.0
6   6.5  6.0
7   5.0  4.0
8   4.0  4.0
9   3.0  2.0

In [85]:
temp_df.corr()

#padre e hijos estan correlacionados por causalidad, que el padre sea alto significa que el hijo lo sea
# jon y gab se sienten bien con el calor pero no estan relacionados, por causa externa
# que haya bajado el numero de piratas con la subida de la temperatura es casualidad, no estan relacionados

          gab       jon
gab  1.000000  0.975815
jon  0.975815  1.000000

In [87]:
# Piratas y Temperatura del Planeta

espurnea = pd.read_csv('pirates-vs-global-warming.csv')
espurnea.corr()

,Year,global-average-temperature,number-of-pirates
Year,1.000000,0.978386,-0.966973
global-average-temperature,0.978386,1.000000,-0.941094
number-of-pirates,-0.966973,-0.941094,1.000000

<hr>
<div style="overflow: hidden; margin-bottom: 10px;">
    <div style="float: left;">
        <a href="./python_101.ipynb">
            <button>Python 101</button>
        </a>
    </div>
    <div style="float: right;">
        <a href="../solutions/ch_01/solutions.ipynb">
            <button>Soluciones</button>
        </a>
        <a href="../ch_02/1-pandas_data_structures.ipynb">
            <button>Capítulo 2 &#8594;</button>
        </a>
    </div>
</div>
<hr>