# Ex2 - Filtrar y ordenar datos

Esta vez vamos a extraer los datos directamente de Internet.

### Paso 1. Importar las librerías necesarias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

In [2]:
x = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')

### Paso 3. Asígnalo a una variable llamada euro12.

In [3]:
euro12 = x

### Paso 4. Seleccione sólo la columna Objetivo.

In [7]:
euro12.columns

AttributeError: 'Index' object has no attribute 'info'

In [5]:
euro12[['Goals']]

    Goals
0       4
1       4
2       4
3       5
4       3
5      10
6       5
7       6
8       2
9       2
10      6
11      1
12      5
13     12
14      5
15      2

### Paso 5. ¿Cuántos equipos participaron en la Eurocopa 2012?

In [6]:
euro12[['Team']]

                   Team
0               Croatia
1        Czech Republic
2               Denmark
3               England
4                France
5               Germany
6                Greece
7                 Italy
8           Netherlands
9                Poland
10             Portugal
11  Republic of Ireland
12               Russia
13                Spain
14               Sweden
15              Ukraine

### Paso 6. ¿Cuál es el número de columnas del conjunto de datos?

In [8]:
len(euro12.columns)

35

### Paso 7. Vea sólo las columnas Equipo, Tarjetas Amarillas y Tarjetas Rojas y asígnelas a un marco de datos llamado disciplina

In [25]:
disciplina = euro12[['Team','Yellow Cards','Red Cards']]
disciplina

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Paso 8. Ordena los equipos por tarjetas rojas y luego por tarjetas amarillas.

In [26]:
disciplina.sort_values(by='Red Cards')

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1

In [27]:
disciplina.sort_values(by='Yellow Cards')

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
0               Croatia             9          0
6                Greece             9          1
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0

### Paso 9. Calcula la media de tarjetas amarillas por equipo

In [36]:
disciplina['Yellow Cards'].mean()

7.4375

In [28]:
#euro12.groupby(['Team'])[['Yellow Cards']].mean()

7.4375

### Paso 10. Filtrar los equipos que han marcado más de 6 goles

In [37]:
euro12[euro12['Goals'] > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Paso 11. Selecciona los equipos que empiezan por G

In [50]:
g = [t for t in euro12['Team'] if t.startswith('G')]
g

['Germany', 'Greece']

### Paso 12. Seleccione las 7 primeras columnas

In [52]:
euro12.columns[:7]

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)'],
      dtype='object')

### Paso 13. Seleccione todas las columnas excepto las 3 últimas.

In [54]:
euro12.columns[:-3]

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards'],
      dtype='object')

### Paso 14. Presentar sólo la Precisión de Tiro de Inglaterra, Italia y Rusia.

In [69]:
euro12[(euro12['Team'] == 'England') | (euro12['Team'] == 'Italy') | (euro12['Team'] == 'Russia')]['Shooting Accuracy']

3     50.0%
7     43.0%
12    22.5%
Name: Shooting Accuracy, dtype: object