# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [75]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [76]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Paso 3. Asígnalo a una variable llamada chipo.

In [77]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [141]:
chipo.head()

,pedido,cantidad,producto,eleccion,precio
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [79]:
chipo.columns = ['pedido','cantidad','producto','eleccion','precio']

In [81]:
chipo['precio'] = chipo['precio'].transform(lambda x: x.str.replace('$',' ').astype(float))

# Nombre del producto de valor máximo

In [172]:
maximo = chipo[chipo['precio'] == chipo['precio'].max()]
maximo
#me tiene que devolver solo el nombre del producto??

      pedido  cantidad                      producto eleccion  precio
3598    1443        15  Chips and Fresh Tomato Salsa      NaN   44.25

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [82]:
chipo[chipo['precio'] > 10.00]

,pedido,cantidad,producto,eleccion,precio
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [102]:
precios = pd.DataFrame({'producto': chipo['producto'], 'precio': chipo['precio']})

In [103]:
precios.set_index('producto')

                                       precio
producto
Chips and Fresh Tomato Salsa             2.39
Izze                                     3.39
Nantucket Nectar                         3.39
Chips and Tomatillo-Green Chili Salsa    2.39
Chicken Bowl                            16.98
...                                       ...
Steak Burrito                           11.75
Steak Burrito                           11.75
Chicken Salad Bowl                      11.25
Chicken Salad Bowl                       8.75
Chicken Salad Bowl                       8.75

[4622 rows x 1 columns]

### Paso 6. Ordenar por el nombre del artículo

In [108]:
precios.sort_values(by = 'producto', ascending = True)

               producto  precio
3389  6 Pack Soft Drink   12.98
341   6 Pack Soft Drink    6.49
1849  6 Pack Soft Drink    6.49
1860  6 Pack Soft Drink    6.49
2713  6 Pack Soft Drink    6.49
...                 ...     ...
2384  Veggie Soft Tacos    8.75
781   Veggie Soft Tacos    8.75
2851  Veggie Soft Tacos    8.49
1699  Veggie Soft Tacos   11.25
1395  Veggie Soft Tacos    8.49

[4622 rows x 2 columns]

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [188]:
chipo.groupby(['cantidad'])['precio'].max()

cantidad
1     11.89
2     23.78
3     35.25
4     35.00
5      7.50
7     10.50
8     13.52
10    15.00
15    44.25
Name: precio, dtype: float64

In [156]:
chipo[chipo['precio'] == chipo['precio'].max()]['cantidad'].sum()

15

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [155]:
demanda = chipo.groupby(['producto'])[['cantidad']].sum()
demanda[demanda.index == 'Veggie Salad'][['cantidad']].sum()

cantidad    18
dtype: int64

In [ ]:
demanda[demanda.index == 'Veggie Salad Bowl'][['cantidad']].sum()

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?